extends layout

block content
  md-content(ng-controller="LoginController as main", flex)
    nav-toolbar
    div(layout="row", flex, class="layout-height")
      nav-sidebar
      md-content(flex)
        p kek